$azulPontual: #34348C;
$azulCaneta: #1C1862;
$vermelhoPontual: #c6142d;

$white: #ffffff;
$light: #f6f6f6;
$black: #000000;
$primary1: $azulCaneta; //#361040;
$primary2: #ff5b7d;
$primary3: #C6142D;
$textCol: #1f1f1f;

$radius: 4px;
$radiusPlus: 4px;